<div class="user-details">
    <h1> My Interests </h1>
    <p> {{site.user_description}} </p>
</div>
    <div class="user-details">
        <h2>Experience </h2>
        <p> Mechatronics Intern at Stealth Startup </p>
        <p> Summer Intern at Shalaka Connected Devices,LLP </p>
    </div>
    <div class="user">
        <div class="tech">
            <h2> Skills </h2>
            <p> ROS / Gazebo / Robotics / MATLAB / CAD / Problem Solving / Mechanical Engineering</p>
        </div>
        <div class="tech">
            <h2> Programming </h2>
            <p> C / C++ / Python / Linux </p>
        </div>
        <div class="tech">
            <h2> Designing </h2>
            <p> SolidWorks / Fusion 360 / AutoCAD </p>
        </div>
    </div>
</div>